body {
    background-color: rgb(250, 246, 246);
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 0;
    /* Ensure no extra bottom margin */
}

.container {
    padding-bottom: 0;
    /* Remove unnecessary padding */
}

.bg {
    background-image: url("../images/back4.jpeg");
    height: 200%;
    /* Adjusted to viewport height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.add-to-cart {
    margin-top: 10px;
    background-color: #ff5733;
    border-color: #ff5733;
}

.add-to-cart:hover {
    background-color: #c70039;
    border-color: #c70039;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.quantity-controls button {
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #007bff;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.quantity-controls button:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 10px;
    border-radius: 5px;
}

