

.py-3 {
    padding-bottom: 1rem !important;
    margin-top: 380px;
}
.background {
    background-image: url("../images/back1.jpeg");
    height: 100%; /* Adjusted to viewport height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.profile-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-container h2 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #343a40;
}

.profile-info {
    text-align: left;
    margin-top: 20px;
}

.profile-info p {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #555;
}

.social-icons i {
    font-size: 30px;
    margin: 10px;
    color: #555;
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color: #007bff;
}
